{{ ansible_managed | comment }}
---
services:
  evcc:
    command:
      - evcc
    container_name: evcc
    healthcheck:
      test: ["CMD", "wget", "-O", "/dev/null", "http://localhost:7070"]
      interval: 10s
      timeout: 15s
      retries: 10
      start_period: 10s 
    image: evcc/evcc:0.132.1  # renovate: datasource=github-releases depName=evcc/evcc
    labels:
      traefik.enable: true
      traefik.http.routers.evcc.rule: Host(`evcc.{{ homestack_monitoring_base_domain }}`)
      traefik.http.routers.evcc.entrypoints: websecure
      traefik.http.routers.evcc.tls.options: modern@file
      traefik.docker.network: traefik-net
    networks:
      - traefik
    ports:
      - 7070:7070/tcp
      - 8887:8887/tcp
    restart: unless-stopped
    user: "{{ homestack_uid }}:{{ homestack_gid }}"
    volumes:
      - "{{ evcc_base_path }}/evcc.yaml:/etc/evcc.yaml"
      - "{{ evcc_base_path }}/data:/root/.evcc"
