#!/bin/bash

# Function to write log messages
log_message() {
    echo "$(date +"%Y-%m-%d %H:%M:%S") $1" | tee -a /tmp/autorestic_backup.log
    curl -d "$1" {{ autorestic_ntfy_topic }}
}

# check that containers are running
if ! docker ps | grep -q "nc-db"
then
    log_message "Nextcloud database container is not running" default
    exit 1
fi

# Restore restic snapshot
if ! autorestic restore -l nextcloud --from backblaze --to "{{ appdata_path }}/nextcloud/" latest:"{{ appdata_path }}/nextcloud/.zfs/snapshot/restic"
then
    log_message "Failed to restore restic snapshot"
    exit 1
fi

# Look for first file in folder "{{ appdata_path }}/nextcloud/db-backup/"
backupFile=$(find "{{ appdata_path }}/nextcloud/db-backup/" -type f -printf "%T@ %p\n" | sort -n | tail -n 1 | awk '{print $2}')

# Restore DB backup
if ! (gunzip < "$backupFile" | docker exec -i "mariadb" /usr/bin/mysql -u "root" -p"{{ container_mysql_root_password }}" "nextcloud")
then
    log_message "Failed to restore DB backup"
    exit 1
fi

# Remove DB backup and folder
rm "$backupFile"
rmdir "{{ appdata_path }}/nextcloud/db-backup"

log_message "Restore successful"
echo
echo "After activating the nextcloud container, you have to deactivate the maintenance mode manually."
echo "You can do this by running the following command:"
echo 'docker exec "nextcloud" su -s /bin/bash "www-data" -c "php occ maintenance:mode --off"'
