#!/bin/bash

# Function to write log messages
log_message() {
    echo "$(date +"%Y-%m-%d %H:%M:%S") $1" | tee -a /tmp/autorestic_backup.log
    if [ -z "$2" ]
    then
        curl "Priority: low" -d "$1" {{ autorestic_ntfy_topic }}
    else
        curl "Priority: ${2}" -d "$1" {{ autorestic_ntfy_topic }}
    fi
}

log_message "Backup of Nextcloud data to ${AUTORESTIC_LOCATION} failed" default
