name: ansible-lint
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Lint Ansible Playbook
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Create file .vault-password
        run: |
          echo "foo" > .vault-password
          chmod 600 .vault-password

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint@43e758bad47344f1ce7b699c0020299f486a8026 # v25

      - name: Upload Sarif file
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
        with:
          sarif_file: ansible-lint.sarif
        if: always()